* { 
    box-sizing: border-box; 
}

body {
    font-family: Arial,sans-serif;
    padding: 0; 
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, black, purple);
    min-height: 100vh;
    flex-grow: 1;
    max-width: 75%;

}

h1 {
    text-align: center;
    background-color: RGBA(128, 128, 128, .4);
    margin-left: 30%;
    margin-right: 30%;
}

h2 {
    text-align: center;
    background-color: RGBA(128, 128, 128, .4);
    margin-left: 40%;
    margin-right: 40%;
}



.host {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

nav {
    margin-left: 20px;
    background-color: RGBA(128, 128, 128, .4);
    margin-right: 75%;
}

ul {
    color: white;
}

.main-story {
    margin-left: 50px;
    margin-right: 50px;
}

p {
    color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
}

.offLink {
    color: #FAF9F6;
}

a:visited > .offLink {
    color: violet;
}

a:hover > .offLink {
    color: aqua;
}

.portfolio {
    color: grey;
}
a:visited > .portfolio {
    color: violet;
}
a:hover > .portfolio {
    color: aqua;
}

a {
    color: grey;
}
a:visited {
    color: violet;
}
a:hover {
    color: aqua;
}

a > .contact {
    color: grey;
}
a:visited > .contact {
    color: violet;
}
a:hover > .contact {
    color: aqua;
}

contact {
    justify-content: center;
}

a {
  text-decoration: none;
}

.profile-image {
  max-width: 100%;
}

.business-card {
  width: 300px;
  background-color: #FAF9F6;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

#social-media > h3 {
    margin-left: auto;
    margin-right: auto;
    background-color: #FAF9F6;
}

#pageFoot {
    text-align: center;
    bottom: 0%;
    background-color: rgb(128, 128, 128, .3);
}
